.hero-content {
  padding: 32px;
}

window {
  background-image:
    linear-gradient(
      rgba(0,0,0,0.85),
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.85)
    ),
    url("resource:///org/alokparna/portfolio/gtk/hero-background.jpg");
  background-size: cover;
  background-position: center;
}

